.theImage
{
    width: 15vw;
    min-width: 150px;
    min-height: 70vh;
}

.resetButton
{
    width:4vw;
    min-width: 35px;
    cursor: pointer;
}

.resetButton:hover
{
    opacity: 0.7;
}

.resetButton:active
{
    transform: scale(0.9);
}

.imageTitle
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(12px + 1.3vw);
    font-weight: bold;
}

.tangan, .tangan2
{
    border-radius : 1vw;
    height:12vw;
    min-height: 60px;
    position: relative;
}

.batu 
{
    border-radius : 1vw;
    height:8vw;
    min-height: 50px;
    position: relative;
}

.batu2 
{
    border-radius : 1vw;
    height:8vw;
    min-height: 50px;
    position: relative;
}

.tabTengah
{
    position: relative;    
}

.vs
{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    color:#B42D15;
    font-size: calc(35px + 6vw);
    font-weight: bold;
}

.playerWin
{
    display: none;
    position: absolute;
    top:40%;
    background-color: #5C8F59;
    transform : rotate(-30deg);
    height:9vw;
    min-height: 80px;
    width:14vw;
    min-width: 95px;
    border-radius: 1vw;
}

.playerWinP
{
    font-size: calc(12px + 1.3vw);
    color: white;
    font-weight: bold;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.computerWin
{
    display: none;
    position: absolute;
    top:40%;
    background-color: #5C8F59;
    transform : rotate(-30deg);
    height:9vw;
    min-height: 80px;
    width:14vw;
    min-width: 95px;
    border-radius: 1vw;
}

.computerWinP
{
    font-size: calc(12px + 1.3vw);
    color: white;
    font-weight: bold;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.draw
{
    position: absolute;
    top:40%;
    background-color: #225719;
    transform : rotate(-30deg);
    height:9vw;
    min-height: 80px;
    width:14vw;
    min-width: 95px;
    border-radius: 1vw;
    display: none;
}

.drawP
{
    font-size: calc(12px + 1.3vw);
    color: white;
    font-weight: bold;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

@media only screen and (max-width:400px) {
    .playerWin, .computerWin, .draw
    {
        transform: rotate(0deg);
        min-width: 80px;
    }

    .theImage
    {
        min-width: 100px;
    }
}