*{
    padding: 0;
    margin: 0;
    outline: none;
    font-family: sans-serif;
    }
    
    body{
    min-width: 326px;
    }
    
    .card{
    width: 380px;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 0 8px silver;
    background: rgb(50%, 50%, 50%);
    }
    
    h2{
    color: white;
    text-align: center;
    margin-bottom: 70px;
    }
    
    h2:before{
    content: "";
    position: absolute;
    width: 80%;
    height: 2px;
    background: white;
    top: 70px;
    left: 10%;
    }
    
    .inputBorder{
    width: 100%;
    height: 40px;
    position: relative;
    margin-bottom: 30px;
    margin-top: 30px;
    }
    
    .text{
    width: 95%;
    height: 100%;
    padding: 0 10px;
    border: none;
    border-bottom: 2px solid silver;
    background: none;
    font-size: 18px;
    color: rgb(0%, 90%, 80%);
    }
    
    .border{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: white;
    transition: .5s;
    }
    
    .text:focus ~ .border,
    .text:valid ~ .border{
    width: 100%;
    }
    
    label{
    position: absolute;
    top: 8px;
    left: 14px;
    color: silver;
    pointer-events: none;
    font-size: 18px;
    transition: .5s;
    }
    
    .text:focus ~ label,
    .text:valid ~ label{
    top: -12px;
    left: 0;
    color: white;
    font-size: 14px;
    }
    
    .btn{
    width: 100%;
    height: 50px;
    border-radius: 8px;
    background: none;
    border: 2px solid silver;
    color: white;
    font-size: 18px;
    transition: .5s;
    }
    
    .btn:hover{
    border: 2px solid white;
    }

    .subPlayGame {
        font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size:calc(9px + 1.5vw);
        padding: 0;
        margin-top: 0;
        opacity: 0.7;
    }

    .playTraditionalGame {
        transform: scale(1,0.8);
        letter-spacing: 3px;
        font-size: 5vw;
        opacity: 0.9;
        margin: 0;
        padding: 0;
    }

    .systemReq {
        background-image: 
            linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
            url('../style/backgound-image/requirements.png');
        background-size: cover;
    }

    .gameFeature {
        background-image: 
            linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
            url(./backgound-image/features.jpg);
        background-size: cover;
        background-position: right;
        
    }

